---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<!-- <body>
		 <slot /> 
		 <header >
			<div class="container">
                 cabecera
					<div class="flex-menu">
					 <img src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="">
					 <menu class="menu-right">
						<li><a href="">Tienda</a></li>
						<li><a href="">Comunida</a></li>
						<li><a href="">Acerca de</a></li>
						<li><a href="">soporte</a></li>
					   </menu>
					</div>
					<div class="menu-right">
						menu de derecha

					</div>
					
			</div>
			
		 </header>
	</body>
</html>
<style>
	html, body {
		padding: 0;
		margin: 0;
	}
	header {
		height: 80px;
		background: green;
	}
	.container {
		max-width: 1200px;
		margin: 0 auto;
		background: orangered;
		
	}
	.flex-menu{
		display: flex;
		height: 80px;
		width: 60%;
		float: left;
		align-items: center;
		background: #fff;
		font-family: sans-serif;
		text-transform: uppercase;
	}
	.flex-menu img {
		width: 160px;
	}
	.flex-menu li {
		margin-left: 10px;
		list-style: none;
		display: inline-block;
	}
	.menu-right{
		float: left;
		width: 40%;
		
	}

</style> -->

<body class="bg-slate-300">
	   <div class="bg-slate-800 h-[6.5rem]">
		<div class="max-w-6xl mx-auto">
			<div class="bg-slate-800 flex justify-end">
				<div class="flex justify-stretch mt-2">
					
					   <a class="bg-lime-400 " href=""><ul class="text-white">Instalar Steam</ul></a>
				       <ul class="text-white ml-3">Iniciar sesion</ul>
				       <ul class="text-white ml-3">idioma</ul>

				</div>
			
			</div>
			<header class="bg-slate-800">
				<div class="flex justify-stretch ">
					<img class="h-12 " src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" alt="">
					<div class="flex justify-evenly mt-2">
						<ul class="text-white font-semibold ">TIENDA</ul>
				        <ul class="text-white font-semibold ml-3">COMUNIDAD</ul>
				        <ul class="text-white font-semibold ml-3">ACERCA DE</ul>
				        <ul class="text-white font-semibold ml-3">SOPORTE</ul>
					
					</div>
				</div>
			</header>
		</div>
	   </div>

	   <div class="max-w-6xl mx-auto">
		<div class="bg-red-700 h-[28rem] bg-[url(https://i.pinimg.com/originals/d2/fb/e9/d2fbe9bbf9026d2ea5a1aa15bb2cc220.jpg)] bg-cover">
			<header class="bg-blue-400 flex justify-stretch ">
				<ul class="text-white">Tu tienda</ul>
				<ul class="ml-5 text-white">Nuevo y destacable</ul>
				<ul class="ml-5 text-white">Categorias</ul>
				<ul class="ml-5 text-white">Tienda de puntos</ul>
				<ul class="ml-5 text-white">Noticias</ul>
				<ul class="ml-5 text-white">Laboratorios</ul>
				<ul class="ml-5 text-white"></ul>
			</header>
	
		   </div>
	   </div>
	   <div class="bg-slate-800 h-52">

	   </div>
	
	

</body>

